@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply scroll-smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    @apply relative bg-slate-50 dark:bg-slate-900;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}
