@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@tailwind;
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: 'Roboto', sans-serif;
}
